name: CI

on:
  push:
    branches:
      - main
    paths:
      - "main.go"
      - "internal/**"
      - "cmd/**"
      - ".github/workflows/ci.yml"
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version-file: "./go.mod"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
      # TODO: vaild nilaway after refactoring
      # - name: install nilaway
      #   run: go install go.uber.org/nilaway/cmd/nilaway@latest
      # - name: run nilaway
      #   run: nilaway -include-pkgs="github.com/fchimpan/gh-workflow-stats" ./...

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version-file: "./go.mod"
      - name: go test
        run: go test -v ./...

  build:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version-file: "./go.mod"
      - name: go build
        run: go build .
      - name: gh install
        run: gh extension install .
      - name: test execute gh workflow-stats standard
        run: gh workflow-stats jobs -o fchimpan -r gh-workflow-stats -f ci.yaml
      - name: test execute gh workflow-stats json
        run: gh workflow-stats jobs -o fchimpan -r gh-workflow-stats -f ci.yaml --json
