name: release
on:
  push:
    tags:
      - "v*"
permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cli/gh-extension-precompile@v1
        env:
          CGO_ENABLED: 1 # https://github.com/cli/gh-extension-precompile/issues/50
        with:
          go_version: "1.22"
